{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main id="main" class="sb-layout sb-page-layout">
  <h1 class="sr-only" data-sb-field-path="title">Philosophy</h1>
  <div data-sb-field-path="sections">
    <div data-sb-field-path="sections.0" class="sb-component sb-component-section sb-component-testimonials-section hero_philosophy colors-a flex flex-col justify-center relative mt-0 mb-0 border-none">
      <div class="flex w-full">
        <div class="w-full max-w-screen-xl">
          <div class="space-y-12" data-sb-field-path=".testimonials">
            <div class="flex flex-col px-5 py-24 md:py-16 md:items-center md:justify-center md:flex-row" data-sb-field-path=".0">
              <div class=" relative">
                <div class="testimonialVariantA_animation_1"></div>
                <div class="testimonialVariantA_animation_2"></div>
                <div class="testimonialVariantA_animation_3"></div>
                <div class="testimonialVariantA_animation_4"></div>
                <div class="testimonialVariantA_animation_expander1"></div>
                <div class="testimonialVariantA_animation_expander2"></div>
                <div style="opacity: 1; transform: none;">
                  <div class="sb-markdown philosophy_quote text-left" data-sb-field-path=".quote">
                    <p>We believe that Web3/Crypto will drive digital innovation over the coming decades, creating significant value for investors. Plaintext is an investment firm that exclusively backs Web3 companies and protocols.</p>
                    <p>Plaintext uses a multi-strategy approach to investing, leaning on both fundamental research and active trading to manage a diversified portfolio of assets. Our fundamental research is sector and geography agnostic. We invest in early stage venture and publicly traded assets.</p>
                    <p>Our investment process strives for transparency and simplicity. We focus on following a repeatable investment process while challenging ourselves to always be improving.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{ partial "footer.html" . }}