        <div class="ReactModalPortal hidden">
          <div class="ReactModal__Overlay ReactModal__Overlay--after-open" style="position: fixed; inset: 0px; z-index: 990;">
            <div style="position: absolute; inset: 50% auto auto 50%; border: 1px solid rgb(204, 204, 204); background: rgb(255, 255, 255); overflow: auto; border-radius: 4px; outline: currentcolor; padding: 20px; margin-right: -50%; transform: translate(-50%, -50%); max-width: 90vw;" class="ReactModal__Content ReactModal__Content--after-open" tabindex="-1" role="dialog" aria-label="Example Modal" aria-modal="true">
              <div id="mc_embed_signup">
                <form action="https://plaintextcapital.us14.list-manage.com/subscribe/post?u=b60ef5b593fb312e973458da3&amp;id=8b40849ad1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <div id="mc_embed_signup_scroll">
                    <h2>Sign Up for newsletter</h2>
                    <div class="indicates-required">
                      <span class="asterisk">*</span> indicates required
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-EMAIL">Email Address <span class="asterisk">*</span>
                      </label>
                      <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" value="">
                    </div>
                    <div class="mc-field-group">
                      <label for="mce-FNAME">First Name </label>
                      <input type="text" name="FNAME" class="" id="mce-FNAME" value="">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_b60ef5b593fb312e973458da3_8b40849ad1" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                      <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <footer class="footer-link-disclaimers"><a href="/disclaimer/">Disclaimer</a></footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        {{ $mainJs := resources.Get "main.js" }}
        <script src="{{$mainJs.RelPermalink}}"></script>
        <script>
        // Fixes Netlify Identity email confirmation
        // Ref https://answers.netlify.com/t/common-issue-netlify-cms-git-gateway-email-not-confirmed/10690/26
        if (window.location.hash.includes('_token=')) {
          window.location.assign('/admin/' + window.location.hash);
        }
        </script>
      </div>
    </div>
  </body>
</html>