<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Params.title }}</title>
    <meta name="description" content="{{ .Site.Params.metaDescription }}" />
    <meta property="og:title" content="Plaintext Capital"/>
    <meta name="twitter:title" content="Plaintext Capital"/>
    <meta property="og:description" content=" Investing in crypto in a simple &amp; repeatable way"/>
    <meta name="twitter:description" content=" Investing in crypto in a simple &amp; repeatable way"/>
    <meta property="og:image" content="https://www.plaintextcapital.com/images/LOGO_CUADRADO00.gif"/>
    <meta name="twitter:image" content="https://www.plaintextcapital.com/images/LOGO_CUADRADO00.gif"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:card" content="summary"/>
    <meta property="twitter:url" content="https://www.plaintextcapital.com/"/>
    <meta property="twitter:domain" content="plaintextcapital.com"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/images/Gif.png"/>
    <meta name="next-head-count" content="16"/>
    <!-- Generate CSS -->
    {{ $options := (dict "enableSourceMap" true ) }}
    {{ $mainCss := resources.Get "main.css" }}
    {{ $mainStyle := $mainCss }}
    {{ $mainJs := resources.Get "main.js" }}
    <link rel="preload" href="{{ $mainStyle.RelPermalink }}" integrity="{{ $mainStyle.Data.Integrity }}" as="style"/>
    <link rel="stylesheet" href="{{ $mainStyle.RelPermalink }}" integrity="{{ $mainStyle.Data.Integrity }}"/>
    <script src="{{$mainJs.RelPermalink}}"></script>
</head>